<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Location tracker</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="author" content="Deepak">
        <meta name="description" content="Trace the user location trail and the people came in contact with him">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">

    </head>
    
    <body>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-8 map-area" id="map">

                    <h3>Loading map...</h3>

                </div>

                <div class="col-sm-4 btn-area">

                    <h3>Your current Location</h3>
                    <div id="info">


                    </div>

                </div>

            </div>

        </div>

        <script async defer src="{{url_for('static',filename='js/loadmap.js')}}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtN-BppY6dmi2MJHZDtUTX1PmwfoVjNPU&callback=initMap"></script>
    </body>

</html> 